<header class="blog-header my-5">
  <div class="row flex-nowrap justify-content-between align-items-center pb-3 pt-1">
    <div class="col-12 text-center">
      <a class="blog-header-logo text-dark" href="{{ site.baseurl | prepend: site.url}}/" style="font-family: 'Playfair', cursive;">{{ site.title }}</a>
    </div>
  </div>
  <div class="nav-scroller py-1 mb-2">
    <nav class="nav d-flex justify-content-center">
      {% for collection in site.collections %}
        {% if collection.label != 'posts' %}
          <a class="p-3 text-uppercase text-muted small" href="{{ collection.label | prepend: "/" | prepend: site.baseurl | prepend: site.url}}">{{ collection.label | capitalize }}</a>
        {% endif %}
      {% endfor %}
    </nav>
  </div>
</header>
