a:hover,
.entry-content a,
.must-log-in a,
blockquote:before,
.cs-bg-dark .pk-social-links-scheme-bold:not(.pk-social-links-scheme-light-rounded) .pk-social-links-link .pk-social-links-icon,
.navbar-follow-title,
.subscribe-title,
.trending-title {
 color:#a6bfc3;
}
.cs-bg-dark .pk-social-links-scheme-light-rounded .pk-social-links-link:hover .pk-social-links-icon,
article .cs-overlay .post-categories a:hover,
.post-format-icon > a:hover,
.cs-list-articles > li > a:hover:before,
.design-heading-stroke-line .title-stroke:after,
.design-title-stroke-line .title-stroke-block:after,
.pk-bg-primary,
.pk-button-primary,
.pk-badge-primary,
h2.pk-heading-numbered:before,
.pk-post-item .pk-post-thumbnail a:hover .pk-post-number,
.cs-trending-post .cs-post-thumbnail a:hover .cs-post-number,
.cs-video-tools .cs-player-control:hover {
 background-color:#a6bfc3;
}
.design-border-radius .pk-widget-posts-template-default .pk-post-item .pk-post-thumbnail a:hover:after,
.cs-trending-post .cs-post-thumbnail a:hover:after,
.navbar-follow-instagram .navbar-follow-avatar-link:hover:after,
.widget .pk-instagram-feed .pk-avatar-link:hover:after,
.widget .pk-twitter-link:hover:after {
 background:linear-gradient(-45deg, #a6bfc3, #FFFFFF);
}
.design-heading-stroke-dotted .title-stroke:after,
.design-title-stroke-dotted .title-stroke-block:after {
 background-image:radial-gradient(circle, #a6bfc3 1.5px, transparent 2px);
}
.woocommerce div.product form.cart button[name="add-to-cart"],
.woocommerce div.product form.cart button[type="submit"],
.woocommerce .widget_shopping_cart .buttons a,
.woocommerce .wc-proceed-to-checkout a.checkout-button.alt,
.woocommerce ul.products li.product .onsale,
.woocommerce #respond input#submit,
.woocommerce span.onsale,
.woocommerce-cart .return-to-shop a.button,
.woocommerce-checkout #payment .button.alt {
 background-color:#a6bfc3;
}
.woocommerce .woocommerce-pagination .page-numbers li > a:hover,
.woocommerce li.product .price a:hover,
.woocommerce .star-rating {
 color:#a6bfc3;
}
.cs-overlay-background:after,
.cs-overlay-hover:hover .cs-overlay-background:after,
.cs-overlay-hover:focus .cs-overlay-background:after,
.gallery-type-justified .gallery-item > .caption,
.pk-zoom-icon-popup:after,
.pk-widget-posts .pk-post-thumbnail:hover a:after {
 background-color:rgba(0,0,0,0.25);
}
.woocommerce ul.products .wc-overlay-background:after {
 background-color:rgba(0,0,0,0.25);
}
.header-large .navbar-topbar {
 background-color:#FFFFFF;
}
.navbar-primary,
.offcanvas-header {
 background-color:#FFFFFF;
}
.navbar-nav .sub-menu,
.navbar-nav .cs-mega-menu-has-categories .cs-mm-categories,
.navbar-primary .navbar-dropdown-container {
 background-color:#f3f3f5;
}
.navbar-nav > li.menu-item-has-children > .sub-menu:after,
.navbar-primary .navbar-dropdown-container:after {
 border-bottom-color:#f3f3f5;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.wp-block-button:not(.is-style-squared) .wp-block-button__link,
.button,
.archive-wrap .more-link,
.pk-button,
.pk-scroll-to-top,
.cs-overlay .post-categories a,
.site-search [type="search"],
.subcategories .cs-nav-link,
.post-header .pk-share-buttons-wrap .pk-share-buttons-link,
.pk-dropcap-borders:first-letter,
.pk-dropcap-bg-inverse:first-letter,
.pk-dropcap-bg-light:first-letter,
.widget-area .pk-subscribe-with-name input[type="text"],
.widget-area .pk-subscribe-with-name button,
.widget-area .pk-subscribe-with-bg input[type="text"],
.widget-area .pk-subscribe-with-bg button,
.footer-instagram .instagram-username {
 -webkit-border-radius:0;
 -moz-border-radius:0;
 border-radius:0;
}
.cs-input-group input[type="search"],
.pk-subscribe-form-wrap input[type="text"]:first-child {
 border-top-left-radius:0;
 border-bottom-left-radius:0;
}
.widget_product_search .woocommerce-product-search,
.widget_product_search .woocommerce-product-search input[type="search"],
.woocommerce-checkout input[id="coupon_code"],
.woocommerce-cart input[id="coupon_code"],
.woocommerce div.product form.cart input.qty,
.woocommerce #respond input#submit,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button,
.woocommerce #respond input#submit.alt,
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt {
 -webkit-border-radius:0;
 -moz-border-radius:0;
 border-radius:0;
}
body {
 font-family:Lato, Helvetica, Arial, sans-serif;
 font-size:1rem;
 font-weight:400;
 letter-spacing:0px;
}
.cs-font-primary,
button,
.button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.no-comments,
.text-action,
.cs-link-more,
.archive-wrap .more-link,
.share-total,
.nav-links,
.comment-reply-link,
.post-tags a,
.post-sidebar-tags a,
.tagcloud a,
.meta-author a,
.post-categories a,
.read-more,
.navigation.pagination .nav-links > span,
.navigation.pagination .nav-links > a,
.subcategories .cs-nav-link,
.entry-meta-details .pk-share-buttons-count,
.entry-meta-details .pk-share-buttons-label,
.pk-font-primary,
.navbar-dropdown-btn-follow,
.footer-instagram .instagram-username,
.navbar-follow-instagram .navbar-follow-text,
.navbar-follow-youtube .navbar-follow-text,
.navbar-follow-facebook .navbar-follow-text,
.pk-twitter-counters .number,
.pk-instagram-counters .number,
.navbar-follow .navbar-follow-counters .number {
 font-family:"Source Sans Pro", Helvetica, Arial, sans-serif;
 font-size:0.6875rem;
 font-weight:400;
 letter-spacing:0.125em;
 text-transform:uppercase;
}
.woocommerce #respond input#submit,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button,
.woocommerce #respond input#submit.alt,
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt,
.woocommerce-pagination,
.woocommerce nav.woocommerce-pagination .page-numbers li > span,
.woocommerce nav.woocommerce-pagination .page-numbers li > a,
.woocommerce ul.products li.product .button,
.woocommerce li.product .price,
.woocommerce div.product .woocommerce-tabs ul.tabs li a,
.woocommerce-form__label-for-checkbox span,
.wc_payment_method.payment_method_bacs label,
.wc_payment_method.payment_method_cheque label {
 font-family:"Source Sans Pro", Helvetica, Arial, sans-serif;
 font-size:0.6875rem;
 font-weight:400;
 letter-spacing:0.125em;
 text-transform:uppercase;
}
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
select,
textarea,
label,
.cs-font-secondary,
.post-meta,
.archive-count,
.page-subtitle,
.site-description,
figcaption,
.wp-block-image figcaption,
.wp-block-audio figcaption,
.wp-block-embed figcaption,
.wp-block-pullquote cite,
.wp-block-pullquote footer,
.wp-block-pullquote .wp-block-pullquote__citation,
.post-format-icon,
.comment-metadata,
.says,
.logged-in-as,
.must-log-in,
.wp-caption-text,
.widget_rss ul li .rss-date,
blockquote cite,
.wp-block-quote cite,
div[class*="meta-"],
span[class*="meta-"],
.navbar-brand .tagline,
small,
.post-sidebar-shares .total-shares,
.cs-breadcrumbs,
.cs-homepage-category-count,
.navbar-follow-counters,
.searchwp-live-search-no-results em,
.searchwp-live-search-no-min-chars:after,
.pk-font-secondary,
.pk-instagram-counters,
.pk-twitter-counters,
.pk-post-item .pk-post-number,
.footer-copyright,
.cs-trending-posts .cs-post-number,
.pk-instagram-item .pk-instagram-data .pk-meta,
.navbar-follow-button .navbar-follow-text {
 font-family:"Source Sans Pro", Helvetica, Arial, sans-serif;
 font-size:0.75rem;
 font-weight:400;
 letter-spacing:0px;
 text-transform:none;
}
.navbar-cart .cart-quantity,
.widget_shopping_cart .quantity,
.woocommerce .widget_layered_nav_filters ul li a,
.woocommerce.widget_layered_nav_filters ul li a,
.woocommerce.widget_products ul.product_list_widget li,
.woocommerce.widget_recently_viewed_products ul.product_list_widget li,
.woocommerce.widget_recent_reviews ul.product_list_widget li,
.woocommerce.widget_top_rated_products ul.product_list_widget li,
.woocommerce .widget_price_filter .price_slider_amount,
.woocommerce .woocommerce-result-count,
.woocommerce ul.products li.product .price,
.woocommerce .woocommerce-breadcrumb,
.woocommerce .product_meta,
.woocommerce span.onsale,
.woocommerce-page .woocommerce-breadcrumb,
.woocommerce-mini-cart__total total,
.woocommerce-input-wrapper .select2-selection__rendered,
.woocommerce table.shop_table.woocommerce-checkout-review-order-table th,
.woocommerce table.shop_table.woocommerce-checkout-review-order-table td {
 font-family:"Source Sans Pro", Helvetica, Arial, sans-serif;
 font-size:0.75rem;
 font-weight:400;
 letter-spacing:0px;
 text-transform:none;
}
.entry-content {
 font-family:inherit;
 font-size:1rem;
 letter-spacing:inherit;
}
.woocommerce-tabs .entry-content {
 font-family:inherit;
 font-size:1rem;
 letter-spacing:inherit;
}
.navbar-follow-title,
.subscribe-title,
.trending-title {
 font-family:"Source Sans Pro", Helvetica, Arial, sans-serif;
 font-size:0.6875rem;
 font-weight:400;
 letter-spacing:0px;
 line-height:1;
 text-transform:uppercase;
}
.site-title {
 font-family:"Source Sans Pro", Helvetica, Arial, sans-serif;
 font-size:1.25rem;
 font-weight:400;
 letter-spacing:0.125em;
 text-transform:uppercase;
}
.large-title {
 font-family:"Source Sans Pro", Helvetica, Arial, sans-serif;
 font-size:2rem;
 font-weight:400;
 letter-spacing:0.125em;
 text-transform:uppercase;
}
.footer-title {
 font-family:"Source Sans Pro", Helvetica, Arial, sans-serif;
 font-size:2rem;
 font-weight:400;
 letter-spacing:0.125em;
 text-transform:uppercase;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.comment-author .fn,
blockquote,
.pk-font-heading,
.post-sidebar-date .reader-text,
.wp-block-quote,
.wp-block-cover .wp-block-cover-image-text,
.wp-block-cover .wp-block-cover-text,
.wp-block-cover h2,
.wp-block-cover-image .wp-block-cover-image-text,
.wp-block-cover-image .wp-block-cover-text,
.wp-block-cover-image h2,
.wp-block-pullquote p,
p.has-drop-cap:not(:focus):first-letter,
.pk-font-heading {
 font-family:"Source Sans Pro", Helvetica, Arial, sans-serif;
 font-weight:400;
 letter-spacing:0px;
 text-transform:none;
}
.woocommerce ul.cart_list li a,
.woocommerce ul.product_list_widget li a,
.woocommerce div.product .woocommerce-tabs ul.tabs li,
.woocommerce.widget_products span.product-title,
.woocommerce.widget_recently_viewed_products span.product-title,
.woocommerce.widget_recent_reviews span.product-title,
.woocommerce.widget_top_rated_products span.product-title,
.woocommerce-loop-product__title,
.woocommerce table.shop_table th,
.woocommerce-tabs .panel h2,
.related.products > h2,
.upsells.products > h2 {
 font-family:"Source Sans Pro", Helvetica, Arial, sans-serif;
 font-weight:400;
 letter-spacing:0px;
 text-transform:none;
}
.title-block,
.pk-font-block {
 font-family:"Source Sans Pro", Helvetica, Arial, sans-serif;
 font-size:0.75rem;
 font-weight:400;
 letter-spacing:0.125em;
 text-transform:uppercase;
 color:#000000;
}
.woocommerce .woocommerce-tabs .panel h2,
.woocommerce .related.products > h2,
.woocommerce .upsells.products > h2 ,
.woocommerce ul.order_details li,
.woocommerce-order-details .woocommerce-order-details__title,
.woocommerce-customer-details .woocommerce-column__title,
.woocommerce-account .addresses .title h3,
.woocommerce-checkout h3,
.woocommerce-EditAccountForm legend,
.cross-sells > h2,
.cart_totals > h2 {
 font-family:"Source Sans Pro", Helvetica, Arial, sans-serif;
 font-size:0.75rem;
 font-weight:400;
 letter-spacing:0.125em;
 text-transform:uppercase;
 color:#000000;
}
.navbar-nav > li > a,
.cs-mega-menu-child > a,
.widget_archive li,
.widget_categories li,
.widget_meta li a,
.widget_nav_menu .menu > li > a,
.widget_pages .page_item a {
 font-family:"Source Sans Pro", Helvetica, Arial, sans-serif;
 font-size:0.75rem;
 font-weight:400;
 letter-spacing:0.075em;
 text-transform:uppercase;
}
.navbar-nav .sub-menu > li > a,
.widget_categories .children li a,
.widget_nav_menu .sub-menu > li > a {
 font-family:"Source Sans Pro", Helvetica, Arial, sans-serif;
 font-size:0.75rem;
 font-weight:400;
 letter-spacing:0.075em;
 text-transform:uppercase;
}
.navbar-topbar .navbar-wrap {
 min-height:auto;
}
.navbar-primary .navbar-wrap,
.navbar-primary .navbar-content {
 height:60px;
}
.offcanvas-header {
 flex:0 0 60px;
}
.post-sidebar-shares {
 top:calc( 60px + 20px );
}
.admin-bar .post-sidebar-shares {
 top:calc( 60px + 52px );
}
.header-large .post-sidebar-shares {
 top:calc( 60px * 2 + 52px );
}
.header-large.admin-bar .post-sidebar-shares {
 top:calc( 60px * 2 + 52px );
}
@media (max-width: 599px) {
 .pk-subscribe-with-name input[type="text"],
 .pk-subscribe-with-bg input[type="text"] {
  -webkit-border-radius:0;
  -moz-border-radius:0;
  border-radius:0;
 }
}
@font-face {
 font-display:swap;
 font-family:'Lato';
 font-style:italic;
 font-weight:400;
 src:local('Lato Italic'),
 local('Lato-Italic'),
 url(https://overflowtheme.com/port/wp-content/uploads/sites/22/S6u8w4BMUTPHjxsAUi-s-5.woff) format('woff');
}
@font-face {
 font-display:swap;
 font-family:'Lato';
 font-style:italic;
 font-weight:700;
 src:local('Lato Bold Italic'),
 local('Lato-BoldItalic'),
 url(https://overflowtheme.com/port/wp-content/uploads/sites/22/S6u_w4BMUTPHjxsI5wq_FQfr-4.woff) format('woff');
}
@font-face {
 font-display:swap;
 font-family:'Lato';
 font-style:normal;
 font-weight:300;
 src:local('Lato Light'),
 local('Lato-Light'),
 url(https://overflowtheme.com/port/wp-content/uploads/sites/22/S6u9w4BMUTPHh7USSwaPHw-4.woff) format('woff');
}
@font-face {
 font-display:swap;
 font-family:'Lato';
 font-style:normal;
 font-weight:400;
 src:local('Lato Regular'),
 local('Lato-Regular'),
 url(https://overflowtheme.com/port/wp-content/uploads/sites/22/S6uyw4BMUTPHjxAwWA-4.woff) format('woff');
}
@font-face {
 font-display:swap;
 font-family:'Lato';
 font-style:normal;
 font-weight:700;
 src:local('Lato Bold'),
 local('Lato-Bold'),
 url(https://overflowtheme.com/port/wp-content/uploads/sites/22/S6u9w4BMUTPHh6UVSwaPHw-4.woff) format('woff');
}
@font-face {
 font-display:swap;
 font-family:'Source Sans Pro';
 font-style:normal;
 font-weight:400;
 src:local('Source Sans Pro Regular'),
 local('SourceSansPro-Regular'),
 url(https://overflowtheme.com/fjord/wp-content/uploads/sites/28/6xK3dSBYKcSV-LCoeQqfX1RYOo3aPA-24.woff) format('woff');
}
@font-face {
 font-display:swap;
 font-family:'Source Sans Pro';
 font-style:normal;
 font-weight:700;
 src:local('Source Sans Pro Bold'),
 local('SourceSansPro-Bold'),
 url(https://overflowtheme.com/fjord/wp-content/uploads/sites/28/6xKydSBYKcSV-LCoeQqfX1RYOo3ig4vAkw-21.woff) format('woff');
}
