<div class="row">
  <div class="col-md-12">
    <h3 class="d-flex justify-content-center border-bottom">
      <span class="m-1">Categories</span>
    </h3>
  </div>
</div>

{% for collection in site.collections %}
  {% if collection.label != 'posts' %}
    <div class="card mb-3 border-0">
      <div class="row no-gutters mb-2">
        <div class="col-md-4">
          <img src="{{ collection.docs.last.image }}" class="card-img h-75 w-75 m-4 rounded-circle" alt="Image of {{ collection.docs.last.title }}">
        </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">{{ collection.label | capitalize }}</h5>
              <p class="card-text">
                <a href="{{ collection.docs.last.url | prepend: site.baseurl }}" class="text-reset">
                  {{ collection.docs.last.title }}
                </a>
              </p>
            </div>
          </div>
        </div>
      </div>
    {% endif %}
  {% endfor %}
